header {
    width: 100%;
    background-color: #fff;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    margin: 0 auto;
}

header a img {
    width: 64px;
    height: auto;
}

header a {
    color: #242424;
    font-size: 20px;
    font-family: 'Fira Code', monospace, sans-serif;
    font-weight: 500;
    margin-right: 20px;
}

header .link::before {
    content: "";
    display: inline-block;
    background-color: #ffde59;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-cv{
    display: inline-block;
    background-color: #ffde59;
    padding: 15px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: .5s all;
}

#btn-cv:hover {
    background-color: #ffcd06;
    transform: scale(1.1);
}