header {
    width: 100%;
    background-color: #fff;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.icon-menu {
    background-image: url(../img/icon-menu.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    image-rendering: pixelated;
}

@media (max-width: 980px) {
    .container > .menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 1rem;
    }

    .menu ul li .link {
        color: #fff !important;
    }

    .menu ul .icon-close {
        color: #fff !important;
        font-size: 45px !important;
        position: absolute;
        top: 16px;
        right: 16px;
        transition: transform 400ms cubic-bezier(.25, .1, .32, 1.14);;
    }

    .menu ul .icon-close:hover {
        transform: scale(1.4);
    }
}

@media (min-width: 980px) {
    .container > .icon-menu {
        display: none;
    }
}

header a img {
    width: 64px;
    height: auto;
}

header a {
    display: flex;
    align-items: center;
    color: #242424 !important;
    font-size: 1rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none !important;
}

header .link::before {
    content: "";
    display: inline-block;
    background-color: #F2C409;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0 0 90px;
    border-bottom: 10px solid #000;
}

#banner .wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
}

#banner .navegation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#banner--box {
    display: inline-block;
    text-align: center;
    background-color: #3a4042;
    box-shadow: 10px 10px 0 #000;
    padding: 42px 44px;
    margin-bottom: 30px;
}

.skill {
    background-color: #F2C409;
    padding: 50px 0 100px 0;
    border-bottom: 10px solid #202020;
}

.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F2C409;
    text-shadow: 5px 5px 0 #000;
    margin-bottom: 60px;
}

.main-title.second {
    text-align: center;
    color: #000;
    text-shadow: none;
}

.main-title.title-project {
    color: #fff;
    text-shadow: 5px 5px 0 #F2C409;
}

.main-title.borda-title::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 2px 2px 0 #F2C409;
}

.main-title.borda-title-variante::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3px;
    background-color: #000;
    margin: 20px auto;
    box-shadow: 2px 2px 0 #F2C409;
}

.main-title.borda-title-variante-white::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3px;
    background-color: #000;
    margin: 20px auto;
    box-shadow: 2px 2px 0 #fff;
}

#banner--box h2 {
    font-size: 30px;
    text-shadow: 4px 4px 0 #000;
    color: #fff;
}

.skill-tec {
    width: 430px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nes-progress {
    width: 362px;
    height: 40px;
}

.progress-bar::-webkit-progress-value {
    background-color: #00509d;
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
}


.skill-tec .icon {
    margin-right: 10px;
    width: 64px;

}

.skill-tec .title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.wrapper-skill {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skill-tec:nth-child(odd) {
    margin-right: 100px;
}

.projetos {
    padding: 50px 0;
    background-color: #000;
    border-bottom: 10px solid #F2C409;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.projetos .card {
    width: 280px;
    height: 280px;
    background-color: #F2C409;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0 #fff;
}

/* About */

.about {
    padding: 50px 0;
    border-bottom: 10px solid #000;
}

.main-title.title-about {
    color: #000;
    text-shadow: 5px 5px 0 #F2C409;
}

.about p {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: justify;
    padding: 50px 30px;
}

/* Button Arrow */

.btn-arrow {
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 0 #000;
    background-color: #F2C409;
}

.btn-arrow::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 30px solid #fff;
    transform: translateX(5px);
}

.btn-arrow.-left::before {
    transform: rotate(180deg) translateX(15px);
}

.arrow-text {
    display: none;
}

/* node-card */

.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    height: 0px;
    width: 40px;
    position: absolute;
    border: 2px dashed #000;
    transform: rotate(90deg) translateX(-50%);
    bottom: 140px;
}

.node-card .title {
    font-size: 1.123rem;
    margin-bottom: 50px;
    color: #000;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    padding: 0 20px;
    background-color: #fff;
    border: 5px solid #F2C409;
}

/* .node-card.clean .logo {
    padding: 0;
}  */

.node-card .logo.-uol {
    background-color: #fff;
}
.node-card .logo.-uol img {
    width: 117px;
}
.node-card .logo.-planner {
    background-color: #fff;
}

.node-card .logo.-planner img {
    height: 117px;
}

.node-card .logo.-singular {
    background-color: #fff;
}

.node-card .logo.-singular img {
    width: 117px;
}

/* carrousel */

.carrousel {
    position: relative;
    padding: 0 85px;
    display: flex;
    justify-content: space-between;
}

.carrousel::after {
    content: '';
    display: block;
    width: calc(100% - 80px);
    height: 5px;
    background-color: #000;
    position: absolute;
    left: 40px;
    top: 20px;
}

.carrousel::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border: 2px dashed #000;
    left: 0px;
    top: 20px;
}

.carrousel .btn-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.carrousel .btn-arrow.-left {
    left: 15px;
}
.carrousel .btn-arrow.-right {
    right: 15px;
}

.carrousel .items {
    width: 100%;
    overflow: hidden;
}

.carrousel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 100ms ease-in-out;
}

/* Formulário */

.contact {
    padding: 50px 40px;
    background-color: #F2C409;
    border-bottom: 10px solid #202020;
}

.nes-field {
    margin-bottom: 60px;
}

.nes-field.btn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nes-field>label {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
}

.nes-field input[type="text"], input[type="email"] {
    height: 50px;
    outline: none;
}

.nes-field .nes-textarea {
    height: 315px;
    resize: none;
    outline: none;
}

.nes-field button {
    height: 60px;
}
/* Footer */

.rodape {
    background-color: #000;
    padding: 28px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 40px;
}
